.ar_pageBanner {
    padding: 200px 0 100px;
    background: var(--white-background);
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;

    @include screen-992 {
        padding: 140px 0 50px;
    }

    @include screen-768 {
        padding: 160px 0 60px;
    }

    & .ar_bradcrumb {
        position: relative;

        & li {
            font-size: 18px;
            line-height: 26px;
            font-weight: 600;
            font-family: var(--secondary-font2);
            color: var(--heading-color);
            @include displayFlex(flex, start, center, row);
            gap: 6px;
        }

        & a {
            font-weight: 700;
            color: var(--primary-color);
        }
    }
}