.ar_footer_sec {
    position: relative;
    background-image: url(../images/footer-bg.png);
    background-size: auto;
    background-position: top center;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.widget_title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: var(--secondary-font);
    margin-bottom: 40px;
}

.ar_postWd_item {
    position: relative;
    padding: 0 0 30px 90px;
    min-height: 70px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 30px;
    @include displayFlex(flex, start, start, column);

    & img {
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        height: 70px;
    }

    & .post_date {
        font-size: 12px;
        line-height: 1.2;
        margin-bottom: 5px;
        font-family: var(--secondary-font2);
    }

    & h4 {
        font-size: 16px;
        line-height: 24px;
        font-size: 500;
        font-family: var(--secondary-font);

        & a {
            color: inherit;
            font-family: inherit;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    &:nth-last-child(1) {
        margin-bottom: 0px;
        border-bottom: 0;
        padding-bottom: 0;
    }
}

.nabLink_widget {
    position: relative;

    & ul {
        & li {
            margin-bottom: 16px;

            &:nth-last-child(1) {
                margin-bottom: 0;
            }

            & a {
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                color: var(--heading-color);
                @include displayFlex(flex, start, center, row);
                gap: 10px;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.subscribe_widget {
    position: relative;

    & p {
        font-size: 16px;
        line-height: 1.625;
        margin-top: -8px;
        margin-bottom: 25PX;
        font-family: var(--secondary-font2);
        font-weight: 400;
    }
}

.subscribe_form {
    position: relative;
    margin-bottom: 30px;

    & input[type="email"] {
        width: 100%;
        height: 50px;
        border: none;
        font-size: 16px;
        line-height: 26px;
        outline: unset;
        padding-left: 15px;
        padding-right: 50px;
        color: #ffffff;
        border-radius: 5px;
        background: linear-gradient(45deg, #fb4275 0%, #f35d46 100%);
        box-shadow: 0 4px 40px rgba(251, 67, 116, 0.4);
        overflow: hidden;
        font-family: var(--secondary-font2);
    }

    & input[type="email"]::placeholder {
        color: var(--white-color);
    }

    & button[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        border: 0;
        outline: 0;
        color: var(--primary-color);
        border-radius: 0 5px 5px 0;
    }
}

.footer_social {
    position: relative;
    @include displayFlex(inline-flex, start, center, row);
    gap: 15px;

    & li {
        & a {
            position: relative;
            @include displayFlex(flex, center, center, row);
            width: 44px;
            height: 44px;
            font-size: 18px;
            border-radius: 50%;
            padding: 5px;
            color: var(--white-color);
            background: var(--primary-color);

            &:hover {
                background: #ff0046;
            }
        }
    }
}

aside .single_info {
    position: relative;
    margin-bottom: 4px;

    &>span {
        font-size: 12px;
        line-height: 1.2;
        margin-bottom: 5px;
        color: var(--body-color);
        font-family: var(--secondary-font2);
        font-weight: 400;
    }

    & p {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        font-family: var(--secondary-font2);
        color: var(--heading-color);

        & a {
            color: inherit;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    &:nth-last-child(1) {
        margin-bottom: 0;
    }
}

.footer-bottom {
    padding: 32px 0 36px;
    border-top: 1px solid var(--border-color);

    & .copyright-text {
        font-size: 16px;
        line-height: 1.625;
        font-family: var(--secondary-font2);
        color: var(--body-color);
        font-weight: 400;

        & a {
            color: inherit;
            font-weight: 600;

            &:hover {
                color: var(--primary-color);
            }
        }
    }
}



/* ************************
  Back to Top
   ********************* */
.back-to-top {
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    width: 35px;
    height: 35px;
    -webkit-box-shadow: 0 4px 40px rgba(251, 67, 116, 0.4);
    box-shadow: 0 4px 40px rgba(251, 67, 116, 0.4);
    font-size: 16px;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    bottom: 10%;
    right: 4%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
    background-color: #fb4275;
}

.back-to-top.show {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.back-to-top .back-toop-tooltip {
    position: absolute;
    top: -65px;
    -webkit-transform: rotate(-90deg) translateX(20px);
    -ms-transform: rotate(-90deg) translateX(20px);
    transform: rotate(-90deg) translateX(20px);
    width: 100px;
    left: -33px;
    line-height: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back-to-top .back-toop-tooltip span {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--heading-color);
}

.back-to-top .top-arrow {
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    height: 8px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 8px;
    position: absolute;
    left: 14px;
    top: 13px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.back-to-top .top-line {
    background-color: #ffffff;
    height: 10px;
    left: 18px;
    position: absolute;
    top: 14px;
    width: 2px;
    margin-left: -1px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.back-to-top:hover .back-toop-tooltip {
    -webkit-transform: rotate(-90deg) translateX(5px);
    -ms-transform: rotate(-90deg) translateX(5px);
    transform: rotate(-90deg) translateX(5px);
    opacity: 1;
    visibility: visible;
}

.back-to-top:hover .top-line {
    height: 14px;
    top: 12px;
}

.back-to-top:hover .top-arrow {
    top: 11px;
}