// Product Service 
.ar_product_item {
    position: relative;
    padding: 50px 20px;
    background: var(--white-background);
    box-shadow: var(--gray-box-shadow);

    &__thumb {
        position: relative;
        overflow: hidden;

        & img {
            transition: var(--transition-base);
        }
    }

    &__cnt {
        & h4 {
            font-size: 18px;
            line-height: 1;
            font-weight: 600;
            color: var(--secondary-color);
            margin: 20px 0 13px;
            text-align: center;

            & a {
                color: inherit;
                font-size: inherit;
                font-family: inherit;
            }
        }
    }

    &:hover {
        & .ar_product_item__thumb {
            & img {
                transform: scale3d(1.1, 1.1, 1.1);
            }
        }
    }
}