.img_fluid {
    max-width: 100%;
    width: auto;
}

// Background Class 
.gradient_bg {
    background: var(--gradient-background);
}

.gray_bg {
    background: var(--gray-background);
}

.white_bg {
    background: var(--white-background);
}


blockquote {
    padding: 15px 20px;
    border-left: 2px solid var(--primary-color);
    font-size: 18px;
    font-style: italic;

    & p {
        font-size: 18px;
        line-height: 29px;
        font-weight: 400;
        color: var(--heading-color);
        font-family: var(--secondary-font);
    }

    & h5 {
        font-size: 16px;
        line-height: 1;
        font-weight: 700;
        color: var(--heading-color);
        margin: 12px 0 14px;
    }
}

// Heading 
.ar_subSecHeading {
    font-size: 26px;
    line-height: 1;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 10px;

    @include screen-992 {
        font-size: 22px;
    }

    @include screen-768 {
        font-size: 18px;
    }
}

.ar_secHeading {
    font-size: 44px;
    line-height: 1.23;
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 38px;

    @include screen-992 {
        font-size: 36px;
    }

    @include screen-768 {
        font-size: 31px;
    }
}


.countfact {
    position: relative;
    text-align: center;

    & h2 {
        font-size: 44px;
        line-height: 1;
        font-weight: 600;
        color: var(--white-color);
        margin-bottom: 10px;
    }

    & h3 {
        font-size: 26px;
        line-height: 1;
        font-weight: 600;
        color: var(--white-color);
        @include large-screen{
            font-size: 21px;
        }
    }
}

// Button 

.ar_primary_btn {
    font-size: 16px;
    line-height: 52px;
    font-weight: 400;
    color: var(--primary-color);
    background: rgba(251, 66, 117, 0.1);
    text-transform: uppercase;
    position: relative;

    & span {
        position: relative;
        display: inline-block;
        font-size: inherit;
        padding: 0 30px;
    }

    &:before,
    &:after,
    & span:before,
    & span:after {
        content: "";
        position: absolute;
        transition-duration: 0.4s;
        background: var(--btn-hover-border);
    }

    &::after,
    &::before {
        width: 0;
        height: 2px;
    }

    &:before {
        left: 50%;
        top: 0;
    }

    &:after {
        left: 50%;
        bottom: 0;
    }

    & span:before,
    & span:after {
        width: 2px;
        height: 0;
    }

    & span:before {
        top: 50%;
        right: 0;
    }

    & span:after {
        top: 50%;
        left: 0;
    }

    &:hover:before,
    &:hover:after {
        width: 100%;
        left: 0;
    }

    &:hover span:before,
    &:hover span:after {
        height: 100%;
        top: 0;
    }
}