* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

body {
    font-size: 18px;
    line-height: 1.67;
    color: var(--body-color);
    font-family: var(--body-font);
    font-weight: 600;
}

p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: var(--transition-base);
    display: inline-block;
}

span {
    display: inline-block;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: var(--heading-font);
    line-height: 1.1;
    color: var(--heading-color);
}


.h1,
h1 {
    font-size: 72px;

    @include screen-992 {
        font-size: 42px;
    }
}

.h2,
h2 {
    font-size: 40px;

    @include screen-992 {
        font-size: 32px;
    }
}

.h3,
h3 {
    font-size: 32px;

    @include screen-992 {
        font-size: 28px;
    }
}

.fw-normal {
    font-weight: 400 !important;
}

@media(min-width:1200px) {
    .container,
    .container-sm,
    .container-lg,
    .container-xl,
    .container-xxl {
        max-width: 1124px;
        width: 100%;
    }
}